TODO: remove this : {{diagnostic}}
<form #kindForm="ngForm" (ngSubmit)="send($event.target.name)" name="kindForm">
    <input type="text" [(ngModel)]="kindModel.kind" name="kind">
    <input type="text" [(ngModel)]="kindModel.departement" name="departement">
    <input type="submit" value="submit">
</form>

<form #ifForm="ngForm" (ngSubmit)="send($event.target.name)" name="idForm">
    <input type="text" [(ngModel)]="idModel.id" name="id">
    <input type="submit" value="submit">
</form>

<form #passForm="ngForm" (ngSubmit)="send($event.target.name)" name="passForm">
    <input type="text" [(ngModel)]="passModel.pass" name="pass">
    <input type="submit" value="submit">
</form>
